includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
  level: max

  paths:
    - %currentWorkingDirectory%/Classes/
    - %currentWorkingDirectory%/Tests/

  ignoreErrors:
    - '#Constant TYPO3_MODE not found\.#'
    - '#Constant ORIGINAL_ROOT not found\.#'
    - '#Constant PATH_site not found\.#'
